:root {
  font-size: 62.5%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: #232323;
  font-size: 1.5rem;
  overflow-x: hidden;
}
header {
  background-color: #232323;
  padding: 2rem;
  overflow: auto;
}
h1 {
  font-size: 2.5rem;
  font-weight: 600;
  color: #fff;
  float: left;
  background-image: url(../img/logo.png);
  background-repeat: no-repeat;
  background-size: contain;
  padding-left: 6rem;
}
nav {
  float: right;
  margin-top: 0.5rem;
}
nav li {
  display: inline;
  margin: 0 1rem;
}
nav li a {
  color: #fff;
  text-decoration: none;
}
#noticias-destacadas {
  width: 300vw;
  overflow: auto;
  animation: 15s slider infinite;
}
figure {
  float: left;
  width: 100vw;
}
img {
  display: block;
  width: 100%;
}
figure figcaption {
  background-color: #232323;
}
figure h2 {
  color: #fff;
  font-weight: bold;
  font-size: 5.5rem;
  padding: 2rem;
  line-height: 100%;
}
.noticia {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;

  min-height: 15rem;
}

.noticia-img {
  width: 30%;
}
.noticia-txt {
  width: 65%;
}
.noticia-txt h3 {
  font-weight: bold;
  font-size: 2rem;
  line-height: 125%;
}
.noticia-txt p:nth-of-type(1) {
  line-height: 200%;
}
.noticia-txt p:nth-of-type(1) a {
  text-decoration: none;
  color: #000000;
}
#tabla-posiciones td,
#tabla-posiciones th {
  padding: 12px;
}
#tabla-posiciones th {
  background-color: #ff0000;
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
}
#tabla-posiciones td {
  background-color: #d9d9d9;
  vertical-align: middle;
}
#tabla-posiciones tr {
  border-bottom: solid 1px #999999;
}
#tabla-posiciones tr:first-child,
#tabla-posiciones tr:last-child {
  border: none;
}
#tabla-posiciones table {
  width: 600px;
  margin: auto;
}
#tabla-posiciones td:nth-of-type(odd) {
  font-weight: 700;
  font-size: 24px;
  text-align: center;
}
#tabla-posiciones td:nth-of-type(even) span {
  font-weight: 700;
  color: #008899;
}
/*Animaciones css*/
@keyframes slider {
  0% {
    margin-left: 0;
  }
  20% {
    margin-left: 0;
  }

  40% {
    margin-left: -100vw;
  }
  60% {
    margin-left: -100vw;
  }

  80% {
    margin-left: -200vw;
  }
  100% {
    margin-left: -200vw;
  }
}
button {
  display: none;
}
.footer {
  background-color: #333333;
  color: #ffffff;
  text-align: center;
  padding: 13px;
  margin-top: 28px;
}
/*media queries para mobile*/
/*siempre va con el meta del viuport*/
@media screen and (max-width: 600px) {
  /*inicio media query*/

  .noticia {
    flex-direction: column;
  }
  .noticia-img,
  .noticia-txt {
    width: 100%;
  }
  nav {
    display: none;
  }
  button {
    display: block;
    float: right;
    color: #fff;
    font-size: 2.5rem;
    line-height: 100%;
    background-color: transparent;
    border: none;
  }
  nav {
    display: none;
    float: none;
    clear: left;
    padding-top: 1rem;
  }
  nav ul li {
    display: block;
    text-align: center;
    line-height: 2rem;
  }
  button:focus + nav {
    display: block;
  }
  table {
    display: none;
  }

  /*Fin media query*/
}

/*para girar el cel
@media screen and (min-width: 700px) and (max-width: 800px) {
  header {
    background-color: green;
  }
}*/
